.menu_item::after {
  content: "";
  width: 100%;
  height: 1px;
  flex: 1;
  order: 2;
  border-bottom: 1px solid #c38e60;
}
@media screen and (max-width: 770px) {
  .recipe-menue {
    background-image: none !important;
  }
}
