.navbarFixeed {
  margin-bottom: 120px !important;
}
.nav-item {
  position: relative;
  height: 100%;
  background-color: aqua;
}
.nav-item::before {
  content: "";
  position: absolute;
  z-index: 66;
  bottom: -15px;
  left: 50%;
  width: 5px;
  height: 5px;
  margin-left: -4px;
  transition: 0.4s;
  transform: rotate(45deg) scale(0);
}

.marginHeader{
 
}


